@using BookingSystem.Shared.Components.Pages.CartComponents
@inherits BaseComponent
<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">

    <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    <a class="navbar-brand me-1 me-sm-3" href="@("/")">
        <div class="d-flex align-items-center">
            @* <img class="me-2" src="_content/BookingSystem.Shared/assets/img/icons/spot-illustrations/falcon.png" alt="" width="40" /> *@
            <span class="font-sans-serif">Book'd</span>
        </div>
    </a>

     @* <Search/> *@



    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
@*         <li class="nav-item">
            <div class="theme-control-toggle fa-icon-wait px-2">
                <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle" type="checkbox" data-theme-control="theme" value="dark" />
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch to light theme"><span class="fas fa-sun fs-0"></span></label>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch to dark theme"><span class="fas fa-moon fs-0"></span></label>
            </div>
        </li> *@

        @* <CartSummary/> *@


       
        <li class="nav-item dropdown">
            <a class="nav-link pe-0 ps-2" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-xl">
                    <img class="rounded-circle" src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png" alt="" />

                </div>
            </a>
            <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                    <AuthorizeView>
                        <Authorized>
                            <a class="dropdown-item fw-bold text-warning" href="#!"><span class="fas fa-crown me-1"></span><span>@(context?.User?.Identity?.Name)</span></a>
                            <a class="dropdown-item" href="javascript:void(0)">My Bookings</a>

                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView>
                        <Authorized>
                            <form class="dropdown-item" action="logout" method="post">
                                <input type="hidden" name="ReturnUrl" value="@currentUrl">
                                <button class="btn btn-outline-warning me-1 mb-1 " type="submit">Sign out</button>
                            </form>
                        </Authorized>
                        <NotAuthorized>
                            <div class="dropdown-item" >
                                @* <input type="hidden" name="ReturnUrl" value="@currentUrl"> *@
                                <button class="btn btn-outline-warning me-1 mb-1 " @onclick="@(()=> NavigationManager.NavigateTo($"login?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}", forceLoad: true))" type="submit">Login</button>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                
                </div>
            </div>
        </li>
    </ul>
</nav>