@page "/booking-list"
@inherits BaseComponent

<div class="card shadow-none">
    <div class="card-header"><div class="row flex-between-center"><div class="col-6 col-sm-auto d-flex align-items-center pe-0"><h5 class="fs-9 mb-0 text-nowrap py-2 py-xl-0">Bookings</h5></div></div></div>
    <div class="card-body px-0 pt-0">
        <div class="table-list" id="bookingListTable">
            <div class="table-responsive scrollbar mb-3">
                <table class="table table-sm table-striped fs-10 mb-0 overflow-hidden">
                    <thead class="bg-200">
                        <tr>
                            <th class="text-900 sort pe-1 align-middle white-space-nowrap" data-sort="bookingNumber">Booking</th>
                            <th class="text-900 sort pe-1 align-middle white-space-nowrap pe-7" data-sort="created">Created</th>
                            <th class="text-900 sort pe-1 align-middle white-space-nowrap" data-sort="event" style="min-width: 12.5rem;">Conference</th>
                            <th class="text-900 sort pe-1 align-middle white-space-nowrap text-center" data-sort="status">Status</th>
                            <th class="text-900 sort pe-1 align-middle white-space-nowrap text-end" data-sort="conferenceRoom">Room</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody class="list">
            @*             <tr class="btn-reveal-trigger">
                            <td class="order py-2 align-middle white-space-nowrap">
                                <a href="https://prium.github.io/falcon/v3.16.0/app/e-commerce/orders/order-details.html">
                                    <strong>#6</strong>
                                </a>
                                by
                                <strong>Tevin</strong>
                                <br>
                                <a href="mailto:Moodley@gmail.com">Moodley@gmail.com</a>
                            </td>
                            <td class="py-2 align-middle">
                                0001-01-01T00:00:00
                            </td>
                            <td class="py-2 align-middle white-space-nowrap">
                                Conference 1
                                <p class="mb-0 text-500">Conference 1</p>
                            </td>
                            <td class="py-2 align-middle text-center fs-9 white-space-nowrap">
                                <span class="badge rounded-pill d-block bg-soft-danger">
                                    Cancelled
                                    <svg class="svg-inline--fa fa-calendar-times fa-w-14 ms-1" data-fa-transform="shrink-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="calendar-times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="" style="transform-origin: 0.4375em 0.5em;"><g transform="translate(224 256)"><g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)"><path fill="currentColor" d="M436 160H12c-6.6 0-12-5.4-12-12v-36c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48v36c0 6.6-5.4 12-12 12zM12 192h424c6.6 0 12 5.4 12 12v260c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V204c0-6.6 5.4-12 12-12zm257.3 160l48.1-48.1c4.7-4.7 4.7-12.3 0-17l-28.3-28.3c-4.7-4.7-12.3-4.7-17 0L224 306.7l-48.1-48.1c-4.7-4.7-12.3-4.7-17 0l-28.3 28.3c-4.7 4.7-4.7 12.3 0 17l48.1 48.1-48.1 48.1c-4.7 4.7-4.7 12.3 0 17l28.3 28.3c4.7 4.7 12.3 4.7 17 0l48.1-48.1 48.1 48.1c4.7 4.7 12.3 4.7 17 0l28.3-28.3c4.7-4.7 4.7-12.3 0-17L269.3 352z" transform="translate(-224 -256)"></path></g></g></svg><!-- <span class="ms-1 fas fa-calendar-times" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com -->
                                </span>
                            </td>
                            <td class="py-2 align-middle text-end fs-9 fw-medium">
                                Conference Room 14
                            </td>
                            <td class="py-2 align-middle white-space-nowrap text-end">
                                <div class="dropstart font-sans-serif position-static d-inline-block">
                                    <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" id="booking-dropdown-6" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16 fs-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <span class="fas fa-ellipsis-h fs-10"></span> Font Awesome fontawesome.com -->
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="booking-dropdown-6">
                                        <a href="#!" class="dropdown-item">View</a>
                                        <a href="#!" class="dropdown-item">Edit</a>
                                        <a href="#!" class="dropdown-item">Refund</a>
                                        <div class"dropdown-divider"=""></div>
                                        <a href="#!" class="dropdown-item text-warning">Archive</a>
                                        <a href="#!" class="dropdown-item text-warning">Archive</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="btn-reveal-trigger">
                            <td class="order py-2 align-middle white-space-nowrap">
                                <a href="https://prium.github.io/falcon/v3.16.0/app/e-commerce/orders/order-details.html">
                                    <strong>#8</strong>
                                </a>
                                by
                                <strong>Tevin</strong>
                                <br>
                                <a href="mailto:Moodley@gmail.com">Moodley@gmail.com</a>
                            </td>
                            <td class="py-2 align-middle">
                                0001-01-01T00:00:00
                            </td>
                            <td class="py-2 align-middle white-space-nowrap">
                                Conference 1
                                <p class="mb-0 text-500">Conference 1</p>
                            </td>
                            <td class="py-2 align-middle text-center fs-9 white-space-nowrap">
                                <span class="badge rounded-pill d-block bg-soft-warning">
                                    Pending
                                    <svg class="svg-inline--fa fa-stream fa-w-16 ms-1" data-fa-transform="shrink-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="stream" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;"><g transform="translate(256 256)"><g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)"><path fill="currentColor" d="M16 128h416c8.84 0 16-7.16 16-16V48c0-8.84-7.16-16-16-16H16C7.16 32 0 39.16 0 48v64c0 8.84 7.16 16 16 16zm480 80H80c-8.84 0-16 7.16-16 16v64c0 8.84 7.16 16 16 16h416c8.84 0 16-7.16 16-16v-64c0-8.84-7.16-16-16-16zm-64 176H16c-8.84 0-16 7.16-16 16v64c0 8.84 7.16 16 16 16h416c8.84 0 16-7.16 16-16v-64c0-8.84-7.16-16-16-16z" transform="translate(-256 -256)"></path></g></g></svg><!-- <span class="ms-1 fas fa-stream" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com -->
                                </span>
                            </td>
                            <td class="py-2 align-middle text-end fs-9 fw-medium">
                                Conference Room 16
                            </td>
                            <td class="py-2 align-middle white-space-nowrap text-end">
                                <div class="dropstart font-sans-serif position-static d-inline-block">
                                    <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" id="booking-dropdown-8" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16 fs-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <span class="fas fa-ellipsis-h fs-10"></span> Font Awesome fontawesome.com -->
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="booking-dropdown-8">
                                        <a href="#!" class="dropdown-item">View</a>
                                        <a href="#!" class="dropdown-item">Edit</a>
                                        <a href="#!" class="dropdown-item">Refund</a>
                                        <div class"dropdown-divider"=""></div>
                                        <a href="#!" class="dropdown-item text-warning">Archive</a>
                                        <a href="#!" class="dropdown-item text-warning">Archive</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
 *@

                       @foreach(var booking in Bookings)
                        {
                            

                        <tr class="btn-reveal-trigger">


                            <td class="order py-2 align-middle white-space-nowrap">
                                <a href="https://prium.github.io/falcon/v3.16.0/app/e-commerce/orders/order-details.html">
                                    <strong>#@booking.BookingNumber</strong>
                                </a>
                                by
                                <strong>@booking.Employee.Name</strong>
                                <br>
                                <a href="mailto:Moodley@gmail.com">@booking.Employee.Email</a>
                            </td>
                            <td class="py-2 align-middle">
                                @booking.Created
                            </td>
                            @if(booking.Event is not null)
                            {
                             <td class="py-2 align-middle white-space-nowrap">
                                @booking.Event.Title
                                @* <p class="mb-0 text-500">@booking.Event.</p> *@
                            </td>
                            }

                            <td class="py-2 align-middle text-center fs-9 white-space-nowrap">
                                <span class="badge rounded-pill d-block bg-soft-@booking.Badge.Type">
                                    @booking.Status
                                    @* <svg class="svg-inline--fa fa-check fa-w-16 ms-1" data-fa-transform="shrink-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;"><g transform="translate(256 256)"><g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)"><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" transform="translate(-256 -256)"></path></g></g></svg><!-- <span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com --> *@
                                </span>
                            </td>
                            @if(booking.ConferenceRoom is not null)
                            {
                            <td class="py-2 align-middle text-end fs-9 fw-medium">
                                @booking.ConferenceRoom.Name
                            </td>
                            }

                            <td class="py-2 align-middle white-space-nowrap text-end">
                                <div class="dropstart font-sans-serif position-static d-inline-block">
                                    <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" id="booking-dropdown-9" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16 fs-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <span class="fas fa-ellipsis-h fs-10"></span> Font Awesome fontawesome.com -->
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="booking-dropdown-9">
                                        <a href="javascript:void(0)" @onclick="@(()=>NavigateTo($"/booking-detail/{booking.BookingId}"))" class="dropdown-item">View</a>
                                        @* <a href="#!" class="dropdown-item">Edit</a> *@
                                        @* <a href="#!" class="dropdown-item">Refund</a> *@
                                        @* <div class"dropdown-divider"=""></div> *@
                                        @* <a href="#!" class="dropdown-item text-warning">Delete</a> *@
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }


                    </tbody>
                </table>



            </div>
            <div class="d-flex align-items-center justify-content-center">
                <button class="btn btn-sm btn-falcon-default me-1 disabled" type="button" title="Previous" data-list-pagination="prev" disabled=""><svg class="svg-inline--fa fa-chevron-left fa-w-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg><!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com --></button>
                <ul class="pagination mb-0"><li class="active"><button class="page" type="button" data-i="1" data-page="5">1</button></li></ul><button class="btn btn-sm btn-falcon-default ms-1 disabled" type="button" title="Next" data-list-pagination="next" disabled=""><svg class="svg-inline--fa fa-chevron-right fa-w-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com --></button>
            </div>
        </div>
    </div>
</div>