@page "/available-conference-rooms"
@inherits BaseRoomComponent
<div class="card shadow-none">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-6 col-sm-auto ms-auto text-end ps-0">
                <div class="d-none" id="table-simple-pagination-actions">
                    <div class="d-flex">
                        <select class="form-select form-select-sm" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Refund">Refund</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select><button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body px-0 pt-0">
        <table class="table table-sm mb-0 overflow-hidden data-table fs-10" data-datatables='{"responsive":false,"pagingType":"simple","lengthChange":false,"searching":false,"pageLength":8,"language":{"info":"_START_ to _END_ Items of _TOTAL_"}}'>
            <thead class="bg-200">
                <tr>
                    <th class="text-900 no-sort white-space-nowrap">
                        <div class="form-check mb-0 d-flex align-items-center"><input class="form-check-input" id="checkbox-bulk-item-select" type="checkbox" data-bulk-select='{"body":"table-simple-pagination-body","actions":"table-simple-pagination-actions","replacedElement":"table-simple-pagination-replace-element"}' /></div>
                    </th>
                    <th class="text-900 sort pe-1 align-middle white-space-nowrap">Name</th>
                    <th class="text-900 sort pe-1 align-middle white-space-nowrap">Capacity</th>
                    <th class="text-900 sort pe-1 align-middle white-space-nowrap">Description</th>
                    <th class="text-900 sort pe-1 align-middle white-space-nowrap text-center">Status</th>
                    <th class="text-900 sort pe-1 align-middle white-space-nowrap text-end">Tags</th>
                    <th class="text-900 no-sort pe-1 align-middle data-table-row-action"></th>
                </tr>
            </thead>
            <tbody class="list" id="table-simple-pagination-body">

                @foreach (var room in Rooms)
                {

                    <tr class="btn-reveal-trigger">
                        <td class="align-middle" style="width: 28px;">
                            <div class="form-check mb-0"><input class="form-check-input" type="checkbox" id="simple-pagination-item-12" data-bulk-select-row="data-bulk-select-row" /></div>
                        </td>
                        <td class="align-middle white-space-nowrap fw-semi-bold name"><a href="../../app/e-commerce/customer-details.html">@room.Name</a></td>
                        <td class="align-middle white-space-nowrap email">@room.Capacity</td>
                        <td class="align-middle white-space-nowrap product">@room.Description</td>
                        <td class="align-middle text-center fs-9 white-space-nowrap payment"><span class="badge badge rounded-pill @room.ClassName">@room.Status<span class="ms-1 fas fa-stream" data-fa-transform="shrink-2"></span></span></td>
                        <td class="align-middle text-end amount">@room.Tags</td>
                        <td class="align-middle white-space-nowrap text-end">
                            <div class="dropstart font-sans-serif position-static d-inline-block">
                                <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal float-end" type="button" id="dropdown-simple-pagination-table-item-12" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                                <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-simple-pagination-table-item-12">
                                    <a class="dropdown-item" href="#!">Book room</a>
                                    <a class="dropdown-item" href="#!">View</a>
                            @*         <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-warning" href="#!">Archive</a>
                                    <a class="dropdown-item text-danger" href="#!">Delete</a> *@
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>