     @page "/edit-event"
     @inherits BaseComponent
     @rendermode InteractiveServer
          <div class="card mb-3">
            <div class="card-body">
              <div class="row flex-between-center">
                <div class="col-md">
                  <h5 class="mb-2 mb-md-0">Edit Event</h5>
                </div>
                <div class="col-auto"><button class="btn btn-falcon-default btn-sm me-2" role="button">Save</button><button class="btn btn-falcon-primary btn-sm" role="button">Do sumn later </button></div>
              </div>
            </div>
          </div>
          <div class="card cover-image mb-3"><img class="card-img-top" src="../../assets/img/generic/13.jpg" alt="" /><input class="d-none" id="upload-cover-image" type="file" /><label class="cover-image-file-input" for="upload-cover-image"><span class="fas fa-camera me-2"></span><span>Change cover photo</span></label></div>
          <div class="row g-0">
            <div class="col-lg-8 pe-lg-2">
              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">Event Details</h5>
                </div>
               @if(Event != null)
                {
                <div class="card-body bg-body-tertiary">
               
                    
                <EditForm  Model="@Event" OnValidSubmit="UpdateEvent">
                    <div class="row gx-2">
                        <div class="col-12 mb-3">
                            <label class="form-label" for="event-name">Title</label>
                            <InputText @bind-Value="@Event.Title" class="form-control" id="event-name" type="text" placeholder="Booking Title" />
                        </div>


                        <div class="col-sm-6 mb-3">
                            <label class="form-label" for="start-date">Start Date</label>
                                <input @bind-value="@Event.Start" @bind-value:event="onchange" class="form-control " id="start-date" type="datetime-local" placeholder="yyyy/mm/dd hh:mm" data-options='{"dateFormat":"Y/m/d H:i","enableTime":"true","disableMobile":true}' />
                        </div>

                            <div class="col-sm-6 mb-3">
                                <label class="form-label" for="end-date">End Date</label>
                                <input @bind-value="@Event.End" @bind-value:event="onchange" class="form-control" id="end-date" type="datetime-local" placeholder="yyyy/mm/dd hh:mm" data-options='{"dateFormat":"Y/m/d H:i","enableTime":"true","disableMobile":true}' />
                            </div>
                   
                        <div class="col-sm-6">
                            <label class="form-label" for="eventLabel">Label</label>
                            <select @bind-value="@Event.Label" @bind-value:event="oninput" class="form-select" id="eventLabel" name="label">
                                <option value="" selected="selected">None</option>
                                <option value="primary">Business</option>
                                <option value="danger">Important</option>
                                <option value="success">Personal</option>
                                <option value="warning">Must Attend</option>
                            </select>
                        </div>

                    <div class="col-12">
                        </div>
                        @* <div class="col-sm-6 mb-3"><label class="form-label" for="event-venue">Room</label><input class="form-control" id="event-venue" type="text" placeholder="Venue" /><button class="btn btn-link btn-sm btn p-0" type="button">Online Event</button></div> *@
                        @* <div class="col-sm-6 mb-3"><label class="form-label" for="event-address">Room number</label><input class="form-control" id="event-address" type="text" placeholder="Address" /></div> *@
                        <div class="col-12">
                            <label class="form-label" for="event-description">Description</label>
                            <InputTextArea @bind-Value="@Event.Description" class="form-control" id="event-description" rows="6"></InputTextArea>
                        </div>

                    </div>

                    <button class="btn btn-falcon-default btn-sm mt-2" type="submit"><span class="fas fa-plus fs-11 me-1" data-fa-transform="up-1"></span>Save event</button>
                </EditForm>

                </div>
            }

              </div>









              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">Conference rooms</h5>
                </div>
                <div class="card-body bg-body-tertiary">
                  <AvailableConferenceRooms/>
                </div>
              </div>

            </div>
            <div class="col-lg-4 ps-lg-2">
              <div class="sticky-sidebar">
                <div class="card mb-lg-0">
                  <div class="card-header">
                    <h5 class="mb-0">Other Info</h5>
                  </div>
                  <div class="card-body bg-body-tertiary">
                    <div class="mb-3">
                      <div class="d-flex flex-between-center"><label class="form-label" for="organizer">Organizer</label><button class="btn btn-link btn-sm pe-0" type="button">Add New</button></div><select class="form-select js-choice" id="organizer" multiple="multiple" size="1" name="organizer" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option value="">Select organizer...</option>
                        <option>Massachusetts Institute of Technology</option>
                        <option>University of Chicago</option>
                        <option>GSAS Open Labs At Harvard</option>
                        <option>California Institute of Technology</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <div class="d-flex flex-between-center"><label class="form-label" for="sponsors">Sponsors</label><button class="btn btn-link btn-sm pe-0" type="button">Add New</button></div><select class="form-select js-choice" id="sponsors" multiple="multiple" size="1" name="sponsors" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option value="">Select sponsors...</option>
                        <option>Microsoft Corporation</option>
                        <option>Technext Limited</option>
                        <option>Hewlett-Packard</option>
                      </select>
                    </div>
                    <div class="mb-3"><label class="form-label" for="event-type">Event Type</label><select class="form-select" id="event-type" name="event-type">
                        <option>Select event type...</option>
                        <option>Class, Training, or Workshop</option>
                        <option>Concert or Performance</option>
                        <option>Conference</option>
                        <option>Convention</option>
                        <option>Dinner or Gala</option>
                        <option>Festival or Fair</option>
                      </select></div>
                    <div class="mb-3"><label class="form-label" for="event-topic">Event Topic</label><select class="form-select" id="event-topic" name="even-topic">
                        <option value="" selected="selected">Select a topic</option>
                        <option>Auto, Boat &amp; Air</option>
                        <option>Business &amp; Professional</option>
                        <option>Charity &amp; Causes</option>
                        <option>Community &amp; Culture</option>
                        <option>Family &amp; Education</option>
                        <option>Fashion &amp; Beauty</option>
                        <option>Film, Media &amp; Entertainment</option>
                        <option>Food &amp; Drink</option>
                        <option>Government &amp; Politics</option>
                      </select></div>
                    <div class="mb-3">
                      <div class="d-flex justify-content-between align-items-center"><label class="mb-0" for="event-tags">Tags</label><button class="btn btn-link btn-sm pe-0" type="button">Add New</button></div><select class="form-select js-choice" id="event-tags" multiple="multiple" size="1" name="tags" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option value="">Select tags...</option>
                        <option>Concert</option>
                        <option>New Year</option>
                        <option>Party</option>
                      </select>
                    </div>
                    <div class="border-bottom border-dashed my-3"></div>
                    <h6>Listing Privacy</h6>
                    <div class="mb-3 form-check"><input class="form-check-input" id="customRadio4" type="radio" name="listingPrivacy" checked="checked" /><label class="form-label mb-0" for="customRadio4"> <strong>Public page:</strong></label>
                      <div class="form-text mt-0">Discoverable by anyone on Falcon, our distribution partners, and search engines.</div>
                    </div>
                    <div class="mb-3 form-check"><input class="form-check-input" id="customRadio5" type="radio" name="listingPrivacy" /><label class="form-label mb-0" for="customRadio5"> <strong>Private page:</strong></label>
                      <div class="form-text mt-0">Accessible only by people you specify. </div>
                    </div>
                    <div class="border-bottom border-dashed my-3"></div>
                    <h6>Remaining Tickets</h6>
                    <div class="form-check custom-checkbox mb-0"><input class="form-check-input" id="customRadio6" type="checkbox" /><label class="form-label mb-0" for="customRadio6">Show the number of remaining tickets. </label></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <div class="row justify-content-between align-items-center">
                <div class="col-md">
                  <h5 class="mb-2 mb-md-0">Nice Job! You're almost done</h5>
                </div>
                <div class="col-auto"><button class="btn btn-falcon-default btn-sm me-2">Save</button><button class="btn btn-falcon-danger btn-sm">Delete event </button></div>
              </div>
            </div>
          </div>

